*{ margin: 0; padding: 0; font-family: "微软雅黑",verdana;}
a{text-decoration: none; color: #FFFFFF;}
li{ list-style: none;}
.clearfix:after {
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}
.op0hide{
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}


img{-webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s; -o-transition: all 1s ease; transition: all 1s ease ;}

.img-responsive{ display: block;max-width: 100%;height: auto; margin: auto;}
.indextop{ width: 100%;  height: 890px; overflow: hidden; background: url(../images/bk.jpg) no-repeat fixed; background-size: cover; background-position:center ; position: relative;}
.indextop .header{ width: 100%; height: 100px; padding: 20px;}
.indextop .header nav{ height: 100px; padding: 20px; position: absolute; right: 0px; top: 0px;}
.indextop .header nav ul li{ float: left; padding:35px 0px ;}
.indextop .header nav ul li a{ display: block; height: 30px; line-height: 30px; color: #FFFFFF; font-size: 20px;padding: 0px 30px;border-right: #FFFFFF solid 2px;
-webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s; -o-transition: all 1s ease; transition: all 1s ease ;}
.indextop .header nav ul li a:hover{ color: #ff5129;}
.indextop .header nav ul li:last-of-type a{ border-right: none;}
.logo-left img{ display: block; float: left; margin-right: 20px;}
.logo-left{ font-size: 36px; line-height: 100px;  color: #ffffff;}
.logo-left img{ width: 100px; height: 100px;}

.phoneimg{ width: 405px; height: 737px; position: absolute; left: 50%; margin-left:-600px ; bottom: 0px;}
.phoneimg .img{  width: 405px;}
.header_box{ width: 660px;height: 737px; position: absolute; left: 50%; bottom: 0px; }
.header_box h1{ line-height: 240px; font-size: 60px; color: #FFFFFF; font-weight: normal;}
.header_box  .logotext img{ display: block; float: left; margin-right: 20px; }
.header_box  .logotext  h2{float: left; line-height: 140px; font-size: 48px; color: #FFFFFF; font-weight: normal;}
.downbtnul{ width: 100%;}
.downbtnul  li{ width: 233px; height: 60px; float: left; margin:130px 20px 0px;}
.downbtnul  li a img{-webkit-opacity: 1;-moz-opacity: 1;opacity: 1;
	-webkit-transition: all 1s ease; -moz-transition: all 1s ease;  transition: all 1s ease ;}
.downbtnul  li a img:hover{ -webkit-opacity: 0.7;-moz-opacity:0.7;opacity: 0.7;}


.indexcontent{ width: 1170px; margin: auto; padding: 30px 0px;}
.indexcontent header { margin-bottom: 60px;}
.indexcontent header h2{ line-height: 120px;font-size: 48px;font-weight: normal; color: #666666;text-align: center;} 
.indexcontent header p { color: #999999; text-align: center;font-size: 20px; line-height: 30px; }

.indexconentnr .left,.indexconentnr .right{ width: 300px; float: left; padding-top: 280px;}
.indexconentnr figure{ margin-bottom: 50px; opacity: 0;}
.indexconentnr figure img{-webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s; -o-transition: all 1s ease; transition: all 1s ease ;}
.indexconentnr figure img:hover{transform: translateY(20px) scale(0.95);}
.indexconentnr figcaption h3{font-size: 36px; text-align: center; color: #bbbbbb; font-weight: normal; line-height: 100px;}
.indexconentnr figcaption  p{ font-size: 20px; color: #ff9668; text-align: center;}
.indexconentnr .center{ width: 300px; margin:0px 135px; float: left;}

.indexbottom{  width: 100%;background: #507dc4; padding: 70px 0px 40px;}

.indexbottom p{ text-align: center; line-height: 40px; color: #FFFFFF;font-size: 16px;}

@media only screen and (max-width: 1440px)   {
	.indextop{ height: 667px;}
	.header_box{ height:602px ;}
	.header_box h1{ line-height: 240px; font-size: 48px; }
	.logotext img{ width: 105px; }
	.header_box  .logotext  h2{line-height: 105px; font-size: 36px; }
	.logo-left { line-height: 75px;}
	.logo-left img{  width: 75px; height: 75px;}
	.phoneimg { width: 303px;height: 552px; margin-left: -400px;}
	.phoneimg img{ width: 303px; height: 552px;}
	.downbtnul  li{ width: 180px;}
  .indexcontent{ width: 1000px}
	.indexcontent header h2{ line-height: 100px;font-size: 36px} 
   .indexcontent header p {font-size:18px ; }
   .indexconentnr .left,.indexconentnr .right{ width: 225px; float: left; padding-top: 280px;}
   .indexconentnr .center{ width: 225px; margin:0px 162px; float: left;}
   .indexconentnr figure img:hover{transform: translateY(20px) scale(0.95);}
   .indexconentnr figcaption h3{font-size: 28px; line-height: 75px;}
   .indexconentnr figcaption  p{ font-size: 18px; }
   .indexbottom p{ font-size: 12px;}
}
.small-in{
	-webkit-animation: small-in-ac 1s linear forwards;
	-moz-animation: small-in-ac 1s linear forwards;
	animation: small-in-ac 1s linear forwards;
}
.delay500{
	-webkit-animation-delay:0.5s ;
	-moz-animation-delay:0.5s ;
	animation-delay:0.5s ;
}
.delay1000{
	-webkit-animation-delay:1s ;
	-moz-animation-delay:1s ;
	animation-delay:1s ;
}
.delay1500{
	-webkit-animation-delay:1.5s ;
	-moz-animation-delay:1.5s ;
	animation-delay:1.5s ;
}

.fade-bottom-in{
	-webkit-animation: fade-bottom-in-ac 1s linear forwards;
	-moz-animation: fade-bottom-in-ac 1s linear forwards;
	animation: fade-bottom-in-ac 1s linear forwards;
   
}
@-webkit-keyframes small-in-ac{
	0%{
		-webkit-transform: scale(0,0);
		-webkit-opacity: 0;
	}
	60%{
		-webkit-transform: scale(1.2,1.2);
		-webkit-opacity: 1;
	}
	100%{
		-webkit-transform: scale(1,1);
		-webkit-opacity: 1;
	}
}
@-moz-keyframes small-in-ac{
	0%{
		-moz-transform: scale(0,0);
		-moz-opacity: 0;
	}
	60%{
		-moz-transform: scale(1.2,1.2);
		-moz-opacity: 1;
	}
	100%{
		-moz-transform: scale(1,1);
		-moz-opacity: 1;
	}
}
@keyframes small-in-ac{
	0%{
		transform: scale(0,0);
		opacity: 0;
	}
	60%{
		transform: scale(1.2,1.2);
		opacity: 1;
	}
	100%{
		transform: scale(1,1);
		opacity: 1;
	}
}
@-webkit-keyframes fade-bottom-in-ac{
	from{
		-webkit-opacity: 0;
		-webkit-transform: translateY(100%);
	}
	to{
		-webkit-opacity: 1;
		-webkit-ransform: translateY(0%)
	}
}
@-moz-keyframes fade-bottom-in-ac{
	from{
		-moz-opacity: 0;
		-moz-transform: translateY(100%);
	}
	to{
		-moz-opacity: 1;
		-moz-ransform: translateY(0%)
	}
}
@keyframes fade-bottom-in-ac{
	from{
		opacity: 0;
		transform: translateY(100%);
	}
	to{
		opacity: 1;
		ransform: translateY(0%)
	}
}




